@use "lib/viewport";

// ** Topic Footer Button **
#topic-footer-buttons {
  .topic-footer-main-buttons {
    button.btn-primary.create {
      span.d-button-label::after {
        content: " " var(--topic-reply-append);
      }
    }
  }
}

// ** Post Menu Button **
.post-controls {
  button.reply {
    span.d-button-label::after {
      content: " " var(--post-reply-append);
    }
  }
}

// ** Nested Topic Button **
.nested-view__floating-actions {
  .nested-view__floating-reply {
    span.d-button-label::after {
      content: " " var(--topic-reply-append);
    }
  }
}

// ** Mobile View Topic Button ***

@if $show_mobile_topic_reply_label == "true" {
  @include viewport.until(md) {
    #topic-footer-buttons {
      .topic-footer-main-buttons {
        button.btn-primary.create {
          span.d-button-label {
           display: inline-block; // Overrides Discourse's mobile 'display: none'
          }
          .d-icon {
            margin-right: .45em;
          }
        }
      }
    }
  }  
}
