// ** Topic Footer Button **
#topic-footer-buttons {
  .topic-footer-main-buttons {
    button.btn-primary.create {
      span.d-button-label::after {
        content: " " var(--topic-reply-append);
      }
    }
  }
}

// ** Post Menu Button **
.post-controls {
  button.reply {
    span.d-button-label::after {
      content: " " var(--post-reply-append);
    }
  }
}

// ** Nested Topic Button **
.nested-view__floating-actions {
  .nested-view__floating-reply {
    span.d-button-label::after {
      content: " " var(--topic-reply-append);
    }
  }
}
